<div class="row">
    <div class="col-sm-6 offset-sm-3">
        <h1>ユーザープロフィール</h1>
        <%= link_to(sort_users_path(carrent_user.id)) do%>
            <button class="btn btn-secondary">いいねした俳句へ</button>
        <% end %>
    </div>
</div>
<div id="haikus_block">
    <%= render partial: "pages/haikus_index",locals: {haikus:@haikus}%>
</div>



<%= link_to "アカウント削除",user_path(session[:user_id]),method: :delete,class: :user_del%>
