
$("#haikus").append("<%= j(render partial: 'pages/haikus_index',locals: {haikus:@haikus})%>");
$('#haikus_paginate').remove();
$("#haikus_paginate").html("<div class='col-sm-6 offset-sm-3 mx-auto vw-375 sm-btn' style='display:block'><%= j(link_to_next_page @haikus,'æ¬¡ã¸',class:'btn btn-secondary btn-block',remote:true)%></div>");
console.log("<%= j(params[:page]) %>");
$("#page").val("<%= j(params[:page]) %>");

