<div class="row">
    <div class="col-sm-6 offset-sm-3">
        <h1>最新ランキング</h1>
        <%= link_to(root_path()) do%>
            <button class="btn btn-secondary">最新の俳句へ</button>
        <% end %>
    </div>
</div>
<div id="haikus_block">
    <%= render partial: "pages/haikus_index",locals: {haikus:@haikus}%>
</div>




