$("#haikus_block").append("<%= j(render partial: 'schools/schools',locals: {schools:@schools})%>");
$('#haikus_paginate').remove();
$("#haikus_paginate").html("<div class='col-sm-6 offset-sm-3 mx-auto vw-375 sm-btn' style='display:block'><%= j(link_to_next_page @schools,'æ¬¡ã¸',class:'btn btn-secondary btn-block',remote:true)%></div>");
