<div class="row">
    <div class="col-sm-8 offset-sm-2">
        <h1>教室検索結果</h1>
        <%= link_to '新規教室を申請',new_school_path,class:'btn btn-primary' %>
    </div>
</div>
<%= render partial: "schools/schools",locals:{schools:@schools} %>